<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Route all requests internally to public folder.
    RewriteRule ^$ public/ [L]
    RewriteRule ^public/ - [L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /public/index.php
</IfModule>